@import url('https://fonts.googleapis.com/css?family=Cabin|Lobster|Barlow|Kreon:700');
h1, h2, h3, h4, h5, h6, p, li {
  font-family: Barlow;
}

#title {
  font-family: Kreon;
  letter-spacing: 200%;
  display: block;
  font-size: 300%;
  line-height: 90%;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: url(/class-photo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header h1 {
  display: block;
  max-width: 750px;
  text-align: center;
  color: white;
  font-size: 400%;
  margin-top: 0;
}

@keyframes colorchange {
  0% {
    background: Baby Blue
  }
  25% {
    background: Blood Orange
  }
  50% {
    background: Blue-Gray;
  }
  75% {
    background: Violet;
  }
  100% {
    background: Aqua;
  }
}

@-webkit-keyframes colorchange {
  0% {
    background: Baby Blue;
  }
  25% {
    background: Blood Orange;
  }
  50% {
    background: Blue-Gray;
  }
  75% {
    background: Violet;
  }
  100% {
    background: Aqua;
  }
}

#Fa {
  font-size: 30px;
  color: black;
}

#Fr:hover {
  -webkit-animation: bounce 1s;
  animation: bounce 1s;
}

#Fr {
  font-size: 30px;
  color: black;
}

#Fa:hover {
  -webkit-animation: bounce 1s;
  animation: bounce 1s;
}

@font-face {
  font-family: "cursive";
  src: url("../fonts/cursive.ttf");
  font-style: normal;
  font-weight: 100;
}

.content {
  margin-left: 2%;
  margin-top: 2%;
  margin-right: 2%;
}

#intro {
  text-align: center;
  margin-bottom: 7%;
}

.table {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;

}

.cell {
  text-align: center;
}

/*
ADD CUSTOM STYLES IN YOUR DIV AREAS!
 */

.example {
  background-color: purple;
  margin: 5px;
  padding: 5px;
}

.sean {
  display: flex;
  width: 32%;
  height: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url('https://uspstrackingtool.com/wp-content/uploads/2018/02/Yosemite-Park-Fog-Over-Mountain-Wallpaper.jpg') no-repeat center center;
  background-size: cover;
  border-radius: 5px;
  box-shadow: 2px 2px 10px gray;
}

.sean h1 {
  font-family: helvetica;
  color: white;
  font-weight: lighter;
  font-size: 24px;
  margin: 5px 0 auto;
}

.sean p {
  font-family: helvetica;
  color: white;
  letter-spacing: 1px;
  margin: auto 2px 5px;
}


.seancard {
  display: flex;
  flex-direction: column;
  background-color: rgba(50, 50, 50, .2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  justify-content: center;
  align-items: center;
  width: 80%;
  border-radius: 5px;
  margin: 5px;
}

.seanthumbnail {
  position: block;
  height: 150px;
  width: 150px;
  overflow: hidden;
  border: 1px solid #FF6D24;
  border-radius: 50%;
  margin: 5px auto auto;
}

.seanthumbnail img {
  width: 150px;
  height: auto;
}

.seanlinks {
  display: flex;
  width: 80%;
  justify-content: space-between;
  z-index: 5;
  margin: auto auto 10px;
}

.seanlinks a {
  color: white;
  border: 2px solid transparent;
  padding: 2px;
  background-color: #D65F00;
  border-radius: 5px;
}

.seanlinks a:hover {
  text-decoration: none;
  color: #1b1b1b;
}

.megan {
  padding: 10px;
  background-color: #324650;
  border-radius: 10px;
  text-align: center;
  text-transform: lowercase;
  font-family: Raleway, Roboto, sans-serif;
  font-size: 16px;
  display: block;
  margin: 0 auto;
  height: 350px;
  width: 425px;
}

.megan img {
  height: 180px;
  width: 170px;
  margin-left: 120px;
  border-radius: 10px;
  border: #FEFAF9 2px solid;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}

.megan h1 {
  font-family: Raleway, Roboto, sans-serif;
  color: #FEFAF9;
  display: block;
}

.megan a {
  color: #FEFAF9;
}

.megan a:active {
  background-color: #FEFAF9;
}

#eric {
  background-image: url('../pexel.jpeg');
}

.eric img {
  height: 200px;
  width: 150px;
  border-radius: 50%;
}

.btn {
  border: 2px solid #000;
  background-color: #000;
  color: white;
  border-radius: 10px;
}

.port {
  border: 2px solid black;
  background-color: greenyellow;
  border-radius: 10px;
}

.eric port a {
  color: black;
  font-weight: bolder;
}

button port a:hover {
  background-color: blue;
  color: white;
  text-decoration: none;
}

.shannon {}

.shalisa {
  background-color: lightgrey;
  border-style: groove;
  text-align: center;
}

.shalisa h3 {
  color: teal;
}

.shalisa a:hover {
  color: orange;
}

.frank img {
  height: 200px;
  width: 150px;
}

/* my area */

.jarvan {
  background-color: Black;
  border-radius: 40px;
  padding: 0 10px;
}

.jarvan h1 {
  font-family: 'Anton', sans-serif;
  color: #7437BC;
}

.jarvan img {
  width: 100%;
  border-radius: 100000px;
}

.jarvan p {
  font-family: 'Cute Font', cursive;
  color: #7437BC;
  font-size: 32px;
  text-align: center;
}

.denise {
  background-color: #333;
  border-radius: 10%
}

.denise h2 {
  color: white;
}

.denise img {
  width: 50%;
  border-radius: 50%
}

 .darrell {
background-color: springgreen;
padding: 5px;
 }
 .darrell h2 {
   margin-top: 10px;
 }
.darrell img{
  width: 50%;
}
.darrell a {
  display: block;
}

.ashley {
  align-items: center;
  justify-content: center;
  margin: 50px auto;
  color: #FF4500;
  padding-top: 50px;
  background-color: #A9A9A9;
}

.ashley h2 {
  font-family: fantasy;
  font-size: 20px;
  color: #FF4500;
  padding-top: 5px;
}

.ashley img {
  max-width: 190px;
  max-height: auto;
  border-radius: 8px;
}



/*My area */

#jimmy {
  background-image: url('../mountain.png');
  background-repeat: no-repeat;
}

.jimmy {
  background-color: #5E2E1B;
}

.jimmy h2 {
  font-family: 'Lobster', cursive;
  font-size: 35px;
  color: #394F48;
  margin-top: 5px;
}

.jimmy a {
  font-family: 'Cookie', cursive;
  font-size: 20px;
  color: #C3E891;
}

.jimmy img {
  border-radius: 50%;
  height: 330px;
  width: 100%;
}

.jimmy .img2 {
  height: 20px;
  background-color: #C3E891;
}


.clay {}
